{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <link rel="stylesheet" href="{% static 'account/css/registration.css' %}">
    <title>
        {% block title %}
            Registration
        {% endblock title %}
    </title>
{% endblock head %}
</head>
<body>
{% block content %}
    <main role="main">
        <form class="form-signin" method="POST" action="{% url 'login' %}">
            <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="login">
        </form>
    </main>
{% endblock content %}
</body>
</html>